@charset "utf-8";

*{
    color: white;
}

body{
    height: 100vh;
    background-image: url(fundoC.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;
}

p{
    width: 180px;
    padding: 6px;
    text-align: center;
    color: blueviolet;
    background-color: white;
    border-radius: 8px;
    margin-top: -180px;
    
}

a:hover{
    text-decoration: none;
}

p:hover{
    background-color: blueviolet;
    color: white;
    
}

@media screen and (min-width:980px) {

    body{
        background-image: url(../fundoG.png);
        background-position: center;
    }

    div{
        justify-content: left;
        height: 174vh;
        margin-left: 9em;
    }

    p{ 
        padding: 15px;
        border-radius: 15px;
    }
}