@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(#5f2c82,#49a09d);
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
 
}

#imagem,#formulario{
    height: 237px;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.247);
    width: 290px;
}

#imagem{
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#formulario{
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    margin-top: 17px;
}

p{
    font-weight: 380;
    font-size: 10px;
    text-align: justify;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 14px;
}

#prg{
    padding-top: 12px;
    padding-bottom: 10px;
}

input{

    height: 23px;
    width: 267px;
    border-radius: 5px;
    border: 1px solid;
}

#senha{

    background-color: #7fcfcf;
}

#b1,#b2{
    width: 270px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
}

#b1,#b2:hover{
    cursor: pointer;
}

#b1{
    background-color: rgb(24, 170, 170);
    color: white;
}

#b2:hover{
    background-color: #68cece;
    color: #49a09d;
}