@charset "utf-8";

*{
    color: white;
}

body{
    height: 97vh;
    background-image: url(fundoC.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;
    margin-top: -50px;
}

p{
    width: 150px;
    padding: 4px;
    text-align: center;
    color: blueviolet;
    background-color: white;
    border-radius: 8px;
    
}

a:hover{
    text-decoration: none;
}

p:hover{
    background-color: blueviolet;
    color: white;
    
}