@charset "utf-8";

*{
    color: white;
}

body{
    height: 97vh;
    background-image: url(fundoC.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  
}

div{
 display: flex;
 height: 100vh;
 justify-content: center;
 align-items: center;
 margin-top: -30px;
 font-size: 25px;
}

p{
    color: blueviolet;
    background-color: white;
}